
{% extends 'base.html' %}  
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'dist/output.css' %}">
</head>
<body class="h-screen">
        
    {% block content %}
<div class="flex flex-col justify-center">
    <h1 class="flex font-bold items-start justify-center text-3xl m-5 py-8">Available Interviews</h1>
    
    <div class="w-full flex justify-center" >

        <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-8 w-full px-5">
            {% for interview in interviews %}
            <div class="border p-4 rounded-lg mb-4 {% if interview.booked %}bg-gray-300{% else %}bg-gray-100{% endif %} shadow-lg relative">
                {% if interview.booked %}
                <p class="mb-2 text-center text-red-500 font-semibold">This slot has been already booked</p>
                {% endif %}
                <ul class="max-w-full">
                    <li class="mb-2"><span class="font-bold">Interviewer:</span> {{ interview.interviewer }}</li>
                    <li class="mb-2"><span class="font-bold">Category:</span> {{ interview.category }}</li>
                    <li class="mb-2"><span class="font-bold">Date:</span> {{ interview.interview_date }}</li>
                    <li class="mb-2"><span class="font-bold">Time:</span> {{ interview.interview_time }}</li>
                    <li class="mb-2"><span class="font-bold">Price:</span> {{ interview.price }}</li>
                </ul>
                {% if not interview.booked %}
                <form method="post" action="{% url 'book' %}">
                    {% csrf_token %}
                    <input type="hidden" name="interview_id" value="{{ interview.id }}">
                    <button type="submit" class="bg-customSec rounded-lg px-4 py-2 text-customMain font-bold text-sm hover:bg-customMain hover:text-customSec absolute bottom-4 right-4">Book</button>
                </form>
                {% else %}
                <button class="bg-gray-400 rounded-lg px-4 py-2 text-gray-800 font-bold text-sm absolute bottom-4 right-4" disabled>Booked</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        
    </div>

    <div>
        

    </div>
</div>
{% endblock %}

</body>
</html>
